<div>
    <div class="title">DIGIVAL</div>
    <div class="table-content" (scroll)="onScroll($event)">
        <table *ngIf="displayedColumns.length; else emptyState">
            <thead>
                <tr>
                    <th *ngFor="let column of displayedColumns">{{ column | titlecase }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customers">
                    <td *ngFor="let column of displayedColumns">
                        {{ customer[column] }}
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="loading-indicator" *ngIf="isLoading">
            Loading more customers...
        </div>
    </div>
    <button 
        class="scroll-to-top" 
        *ngIf="showScrollTop"
        (click)="scrollToTop()"
        aria-label="Scroll to top">
        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7 14L12 9L17 14H7Z" fill="currentColor"/>
        </svg>
    </button>
    <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
</div>

<ng-template #emptyState>
    <div class="empty-state">
        <p *ngIf="!isLoading">No customers to display yet.</p>
    </div>
</ng-template>